.violation-stat .violation-count {
    font-size: 5em;
    color: #E3323E;
    display: inline-block;
    margin-right: 10px;
}
.violation-stat .most-type {
    color: red;
    font-weight: bold;
}
.violation-stat .chart {
    padding: 30px;
}
