.recent_violation .violation_type {
    color: black;
}

.recent_violation .image img {
    margin: 10px 0px;
    min-height: 100px;
    min-width: 100px;
}

.recent_violation .description {
    color: #636363;
    margin-top: 10px;
}
.navbar-brand {
	color: #E3323E;
}


#chart-info {
    margin-top: 20px;
}
.chart_info {
    margin-bottom: 5px;
}
.chart_info .color_info {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
